<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css "%}">
    <link rel="stylesheet" href="{% static "css/amazon.css" %}">
    <style media="screen">
      body{
        color:blue;
        background: url({% static "images/amzw5.jfif" %})
      }
      .jumbotron{
        background:url({% static "images/amzw6.jfif"%});
      }
    </style>
  </head>
  <body>
    <div class="container" align=center>
      <div class="jumbotron">
        <form method='post'>
          <h1>WELCOME TO AMAZON !</h1>
          <h4>LOG IN</h4>
          {{form.as_p}}
          {% csrf_token %}

          <input type="submit" name="" value="LOG IN" class="btn btn-primary">

        </form>

      </div>

    </div>

  </body>
</html>
