<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/amazon.css" %}">
    <style media="screen">
      body{
        color:red;
      }
      .jumbotron{
        background:yellow;
        color:black;
      }
    </style>
  </head>
  <body>
    <div class="container" align=center>
      <div class="jumbotron">
        <h1>logout</h1>
        <p>remember your password correctly..</p>
        <form action='/amazon'>
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" name="" value="LOGOUT">
        </form>

      </div>

    </div>

  </body>
</html>
