<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/amazon.css" %}">
    <style media="screen">
      h2{
        color:white;
      }
      ol,li{
        color:black;

      }
      h3{
        color:black;
      }
      .jumbotron{
        background: #3b5998;
      }
    </style>
  </head>
  <body>
    <div class="container" align=center>
      <div class="jumbotron">
        <h2><i><b><small>AVAILABLE PRODUCTS ..!</small></b></i></h2>


      </div>

    </div>
    <h3 style="text-decoration:underline">ELECTRONICS</h3>
    <ol>
      <li>TV</li>
      <li>PHONES</li>
      <li>LAPTOPS</li>
      <li>COMPUTERS</li>
    </ol>

  </body>
</html>
