<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/amazon.css" %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse">
  <a class="navbar-brand" href="/amazon1">indian AMAZON</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/history">Home </a>
      <a class="nav-link active" href="/about">about us</a>
      <a class="nav-link active" href="/feedback">feedback</a>
      <a class="nav-link active" href="/products">available products</a>
    </div>
  </div>
</nav>
    <div class="container" align=center>
      <div class="jumbotron">
       <h1 style="color:white,background:#3b5998;">CHOOSE YOUR FAVOURITE..!</h1>


      </div>

    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz9.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz1.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz2.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz3.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz4.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz5.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz6.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz7.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz8.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz9.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz10.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz9.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz10.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz11.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz12.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz13.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz14.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz15.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz6.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz7.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz8.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz9.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>
      <div class="col-lg-3 col-md-6 col-xs-12"><div class="one" align=center><img src="{% static "images/amz10.jpg" %}" alt=""><p>price:2$</p><a href="#" role="button" class="btn btn-primary">buy</a></div></div>

    </div>
    <div class="button">
    <a href="/second" role="button" class="btn btn-primary" class="button">PREVIOUS</a>&nbsp&nbsp&nbsp
    <a href="/fourth" role="button" class="btn btn-primary" class="button">NEXT</a>&nbsp&nbsp&nbsp
    </div>

  </body>
</html>
